
// Imports
@import 'partials/_globals';

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

// Main Styles
body {
    font-family: $font-stack;
}
.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
    margin-left: 15px;
    padding: 1em 0;
    height: auto;
    font-size: 2em;
    color: #fff;
}
.navbar.navbar-inverse {
    background-image: none;
    background-color: dodgerblue;
    border: 0;
    border-radius: 0;
}
.navbar-inverse .navbar-nav > li > a {
    margin: 0;
    font-size: 1.5em;
    line-height: 2em;
    text-transform: uppercase;
    color: #fff;
}
.navbar-toggle {
    margin: 1.5em 1.5em 0;
    border: 0;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {

    .navbar > .container .navbar-brand,
    .navbar > .container-fluid .navbar-brand {
        margin-left: 0;
    }
    .container-fluid > .navbar-collapse,
    .container-fluid > .navbar-header,
    .container > .navbar-collapse,
    .container > .navbar-header {
        margin-left: 0;
        margin-right: 0;
    }

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {}